<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="eu.mobiletouch.fotoland">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".ApplicationFotoland"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.ActivitySplashscreen"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.ActivitySelectProduct"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".activities.ActivitySelectItem"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".activities.ActivitySelectDetails"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".activities.ActivitySelectPhotos"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".activities.ActivityDisplaySelectedPhotos"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".activities.ActivityCropPhoto"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".activities.ActivityCart"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".activities.ActivitySelectSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".activities.ActivityDisplayPhotobookSelectedPhotos"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".activities.ActivityMakeCollage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".activities.ActivityEditPagePhotobook"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".activities.ActivityDisplayPosterSelectedPhotos"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".activities.ActivityLogin"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".activities.ActivityRegister"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".activities.ActivityGoToAccount"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".activities.ActivityCheckout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

    </application>

</manifest>